### MERT parameters
# target sentences file name (in this case, file name prefix)

-r       <REF>
-rps     4                   # references per sentence
-p       ./params.txt        # parameter file
-m       BLEU 4 closest      # evaluation metric and its options
-maxIt   10                  # maximum MERT iterations
-ipi     20                          # number of intermediate initial points per iteration
-cmd     tune/decoder_command        # file containing commands to run decoder
-decOut  tune/joshua.out             # file produced by decoder
-dcfg    ./joshua.config             # decoder config file
-N       300                         # size of N-best list
-v       1                           # verbosity level (0-2)
-thrCnt 16
